body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVIGATION COMMUNE */
nav {
    margin-top: 10px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* HEADER ACCUEIL */
.header-home {
    background: url('./Salle.webp') center/cover;
    color: white;
    padding: 20px;
    text-align: center;
}

/* HEADER MENU */
.header-menu {
    background: #095228;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

/* HEADER CONTACT */
.header-contact {
    background: #2c3e50;
    color: white;
    padding: 40px;
    text-align: center;
}

/* HERO */
.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    background: #e74c3c;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Galerie */
.galerie {padding:50px 20px;text-align:center;background-color:#f4f4f4;}
.galerie h2 {margin-bottom:30px;}
.galerie-items {display:flex;flex-wrap:wrap;justify-content:center;gap:20px;}
.galerie-items img {width:250px;height:200px;object-fit:cover;border-radius:10px;}


/* MENU */
.menu-home{
    background: url('./Repas-Menu.webp') center/cover;
    color: white;
    padding: 20px;
    text-align: center;
}
.menu-section {
    padding: 50px;
    text-align: center;
}
.menu-section img {
    max-width: 800px;
    width: 90%;
}

/* CONTACT */
.contact-section {
    padding: 50px;
    text-align: center;
}
.contact-section form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    gap: 10px;
}
.contact-section input,
.contact-section textarea {
    padding: 10px;
}

/* À propos */
.apropos-section {padding:50px 20px;text-align:center;}
.apropos-section h2 {margin-bottom:20px;}
.apropos-section p {max-width:800px;margin:0 auto;}




