/* -------- GLOBAL -------- */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #FDF6E3;
  color: #333;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: #023047;
}

section {
  padding: 80px 10%;
}

/* -------- HERO -------- */
.hero {
  height: 80vh;
  background: url('./image/Plat-mediteranneen.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}

/* Overlay élégant */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.7)
  );
}

.hero-content {
  position: relative;
  max-width: 800px;
  padding: 20px;
  z-index: 1;
}

/* Sous-titre */
.hero-subtitle {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 14px;
  color: #E9D8A6;
  margin-bottom: 10px;
}

/* Titre */
.hero h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
  animation: fadeUp 1s ease forwards;
  opacity: 0;
  transform: translateY(30px);
  color: white;
}

/* Texte */
.hero-text {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 30px;
  animation: fadeUp 1.2s ease forwards;
  opacity: 0;
  transform: translateY(30px);
}

/* Boutons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* Bouton principal */
.btn-primary {
  background: #023047;
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #023047;
  transform: scale(1.05);
}

/* Bouton secondaire */
.btn-secondary {
  border: 1px solid white;
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: white;
  color: black;
}

/* Animation */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------- SECTION SPLIT -------- */
.split {
  display: flex;
  align-items: center;
  gap: 50px;
}

.split img {
  width: 50%;
  border-radius: 10px;
  transition: transform 0.5s;
}

.split img:hover {
  transform: scale(1.05);
}

.split-text {
  width: 50%;
}

/* inversion */
.split.reverse {
  flex-direction: row-reverse;
}

/* état initial */
.fade-left,
.fade-right {
  opacity: 0;
  transition: all 0.8s ease;
}

/* animation gauche */
.fade-left {
  transform: translateX(-80px);
}

/* animation droite */
.fade-right {
  transform: translateX(80px);
}

/* état visible */
.fade-left.visible,
.fade-right.visible {
  opacity: 1;
  transform: translateX(0);
}


/* -------- MENU SCROLL -------- */
.menu {
  background: #fff;
}

.menu-scroll {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.menu-item {
  min-width: 250px;
  background: #FDF6E3;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  width: 100%;
  border-radius: 10px;
}

.price {
  color: #0077B6;
  font-weight: bold;
}

.btn-download {display: inline-block; background-color: #FDF6E3; color: black; font-weight: 300; padding: 15px 30px; border-radius: 30px; text-decoration: none;
    font-size: 1.1rem; transition: transform 0.3s ease, box-shadow 0.3s ease; margin-top: 30px; }
.btn-download:hover {transform: translateY(-3px); box-shadow: 0 8px 20px rgba(0,0,0,0.2); }
.menu-pdf-button {text-align: center; }

/* -------- IMAGE FULL -------- */
.full-image {
  height: 400px;
  background: url('https://images.unsplash.com/photo-1551218808-94e220e084d2') center/cover;
  border-radius: 10px;
}

/* -------- FOOTER -------- */
.footer {background: #023047; color: #FDF6E3; padding: 25px 40px; font-size: 14px; }
.footer::before {content: ""; display: block; width: 200px; height: 2px; margin: 0 auto 30px auto;
    background: linear-gradient(to right, transparent, #FDF6E3, transparent );
}
.footer-main {display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 20px; }
.footer-item {display: flex; align-items: center; gap: 8px; color: #ccc; }
.footer-item i {color: #FDF6E3; }
.footer-socials a {color: #ccc; margin-left: 15px; font-size: 18px; transition: 0.3s; }
.footer-socials a:hover {color: #FDF6E3; transform: scale(1.2); }
.footer-bottom {margin-top: 20px; padding-top: 15px; border-top: 1px solid #222; display: flex; justify-content: space-between; flex-wrap: wrap; color: #ccc;
    font-size: 12px; }
.footer-bottom a {margin-left: 15px; color: #ccc; text-decoration: none; }
.footer-bottom a:hover { color: #fff; }


/* -------- Mentions légale et confidentialité -------- */
.legal-container {
    max-width: 900px;
    margin: 80px auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.7;
    color: #333;
}

.legal-container h1 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

.legal-container h2 {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #111;
    border-left: 4px solid #c59d5f;
    padding-left: 10px;
}

.legal-container p {
    margin-bottom: 15px;
}

.legal-container a {
    color: #c59d5f;
    text-decoration: none;
}

.legal-container a:hover {
    text-decoration: underline;
}

.legal-date {
    margin-top: 40px;
    font-size: 14px;
    color: #777;
    text-align: right;
}

/* -------- RESPONSIVE -------- */
@media (max-width: 900px) {
  .split {
    flex-direction: column;
  }
  .split img, .split-text {
    width: 100%;
  }
}
